{
  "type": "replication",
  "sourcebucket": "reactive-lab-bucket",
  "targetbucket": "reactive-lab-target-bucket",
  "arn": "arn:minio:replication:us-east-1:reactive-lab-target:reactive-lab-target-bucket",
  "endpoint": "127.0.0.1:9000",
  "secure": false,
  "region": "us-east-1",
  "credentials": {
    "accessKey": "<仅本机私有>",
    "secretKey": "<仅本机私有>"
  },
  "replicationSync": false,
  "disableProxy": false
}
